.clear-fix{
    clear: both;
}
.btn{
    &-left{
        float: left;
        width: 50%;
        text-align: center;
    }

    &-right{
        float: right;
        text-align: center;
        width: 50%;
    }
    &-lap,&-restart{
        background-color: #fff;
        &:active{
            background-color: gray;
        }
    }
    &-start{
        background-color: greenyellow;
    }

    &-stop{
        background-color: red;
    }

    button{
        &:disabled{
            cursor: no-drop;
            background-color: #e6e6e6;
        }
        width: 60px;
        height: 60px;
        border-radius: 50%;
        outline: none;
        border: 1px solid gray;
        cursor: pointer;
    }
}