.laps{
    &-box{
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
    }
    &-list{
        height: 255px;
        overflow-y: auto;
        position: relative;
        &::-webkit-scrollbar {
            width: 3px;
        }
        .line{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            list-style: none;
            padding-left: 0;
            margin: 0;
        }
        .list{
            list-style: none;
            padding-left: 0;
            margin: 0;
            &-left{
                float: left;
            }
            &-right{
                float: right;
            }
            &::after{
                content: "";
                clear: both;
            }
        }
        li{
            height: 35px;
            line-height: 35px;
            border-bottom: 1px solid #80808047;
        }
    }
}