.Clock{
    padding-top: 30px;
    text-align: center;
    h1{
        font-weight: 100;
        font-size: 60px;
        span{
            width: 62px;
            text-align: center;
            display: inline-block;
        }
    }
}